VHSYS_ACCESS_TOKEN = "SEU-TOKEN"
VHSYS_SECRET_TOKEN = "SEU-SECRET-TOKEN"

MINIPCP_DB_HOST = "localhost"
MINIPCP_DB_USER = "postgres"
MINIPCP_DB_PASSWORD = "senha-do-banco-de-dados"
MINIPCP_DB_PORT = "5432"
MINIPCP_DB_NAME = "minipcp"
